body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.marker {
  flex: 1;
  margin: 8px;
}

#arucoMarkers {
  display: grid;
  margin: 20px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
